* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
}
img{
    width: 100%;
    height: 100%;
}
.contenedor {
    display: grid;
    grid-template-columns: 1fr 10fr 1fr;
    grid-template-rows: 1fr 5fr 1fr;
    grid-template-areas:'header header header'
                        'aside-1   main   aside-2'
                        'footer footer footer';
}
header {
    
    grid-area: header;
}
nav {
    padding: 10px;
    width: 80%;
    margin: 30px auto ;
    border-radius: 20px 0 20px 0;
    display: flex;
    justify-content: space-around;
    background: rgb(115, 178, 230);
}
nav a {
    text-decoration: none;
}
.caja-logos p {
    font-size: 30px;
    color: black;
    text-align: center;
}
.logoPrincipal {
    width: 100px;
    height: 100px;
    border-radius: 50%;
}
/* Titulo del header Servi-Frio */
.titulo {
    width: 300px;
    height: 52px;
}
.titulo .servi- {
    font-size: 50px;
    color: red;
    letter-spacing: 5px;
    font-weight:bold;
}
.titulo .frio {
    font-size: 48px;
    color: blue;
    letter-spacing: 5px;
    font-weight:bold;
}
.lista-nav {
    display: flex;
    list-style: none;
    align-items: flex-end;
}
.menu-nav {
    margin: 0 5px;
    text-decoration: none;
}
.menu-nav:hover {
    /* width: 100px;
    height: fit-content;
    font-size: 30px; */
    border-radius: 10px;
    padding: 5px;
    color: white;
    background: rgb(77, 118, 230);
}
.aside-1 {
    grid-area: aside-1;
}
main {
    /* height:min-content; */
    background-image: url('../img/familia-Disfrutando.webp');
    background-size: cover;
    grid-area: main;
    margin-bottom: 10px;
}
/* Titulo del Main h1 >>>>>>>>>>>>>*/
.titulo-Principal {
    width: 70%;
    height: fit-content;
    position: relative;
    
}
.titulo-Principal h1{
    margin: 40px 0 0 20px;
    position: absolute;
    
}
/* Titulo del Main h1 <<<<<<<<<<<<*/

/* formulario para la pagina de contactos >>>>>>>>>>>>>>>>>>>>>>>>>>>>*/
.tituloAiresAcon {
    font-size: 50px;
    /* margin: 100px 0 0 0; */
    text-align: center;
}
.tituloCamarasFrio {
    font-size: 50px;
    /* margin: 100px 0 0 0; */
    text-align: center;
}
.tituloContactanos {
    font-size: 50px;
    /* margin: 100px 0 0 0; */
    text-align: center;
}
.formularioDeContacto {
    width: 100%;
    height: fit-content;
    margin-top: 200px;
    padding: 20px;
    background: rgba(149, 196, 219, 0.5);
}
.formParaContacto {
    padding: 10px;
    background: rgba(216, 226, 231, 0.5);
    width: 300px;
    height: fit-content;
    margin: auto;
}
.formParaContacto input {
    padding-left: 15px;
    width: 20em;
    height: 2rem;
    border: none;
    outline: none;
}
.formParaContacto input:hover {
    color: white;
    background: rgb(0, 162, 255);
}
.comentario {
    outline: none;
    border: none;
    padding: 10px;
    max-width: 280px;
    max-height: 250px;
}
.formParaContacto .comentario:hover {
    color: white;
    background: rgb(0, 162, 255);
}
.btnEnviarForm {
    width: 100px;
    height: 30px;
    margin: 0 80px;
    background: rgb(0, 162, 255);
}
.btnEnviarForm:hover {
    color: white;
    background: rgb(66, 66, 173);
}
/* formulario para la pagina de contactos<<<<<<<<<<<<<<<<<<<<<<<<<<< */
.btnContratar {
    position: absolute;
    border: none;
    width: 150px;
    height: 50px;
    background: rgb(115, 178, 230);
    margin: 50px 35% 0;
}
.cont-img {
    display: flex;
    justify-content: flex-end;
    position: relative;
}
.img-Aire {
    border-radius: 0 0 0 40px;
}
/* ejemplos de transiciones >>>>>>>>>>>>>>>>>>>>*/
.transicion {
    width: 80%;
    height: 45px;
    position: relative;
    display: block;
    margin-top: -50px;
    padding: 15px 30px;
    overflow: hidden;
}
.transicion .span1 {
    position: absolute;
    display: block;
}
.span1 {
    top: 0;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,rgb(115, 178, 230));
}
.transicion:hover .span1{
    right: 100%;
    transition: 3s;
}
/* ---------------------------- */
.transicion .span2 {
    position: absolute;
    display: block;
}
.span2 {
    top: 10px;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,rgb(115, 178, 230));
}
.transicion:hover .span2{
    right: 100%;
    transition: 4s;
}
/* ---------------------------- */
.transicion .span3 {
    position: absolute;
    display: block;
}
.span3 {
    top: 20px;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,rgb(115, 178, 230));
}
.transicion:hover .span3{
    right: 100%;
    transition: 5s;
}
/* ---------------------------- */
.transicion .span4 {
    position: absolute;
    display: block;
}
.span4 {
    bottom: 10px;
    right: -100%;
    width: 100%;
    height: 5px;
    background: linear-gradient(270deg,transparent,rgb(115, 178, 230));
}
.transicion:hover .span4{
    right: 100%;
    transition: 6s;
}

/* ejemplos de transiciones <<<<<<<<<<<<<<<<<*/
main section article ul li {
    font-size: 2em;
    text-align: center;
}
main section article .tituloDePagina {
    text-align: center;
    font-size: 2em;
}

.parrafoPresentacion {
    padding: 10px;
    background: rgba(216, 226, 231, 0.5);
}

.parrafoPresentacion p {
    font-size: 50px;
}
/* .parrafoPresentacion .listaServicios {
    margin: auto;
} */
.parrafoPresentacion .listaServicios ul {
    text-align: center;
    list-style: none;
}

/* ------------------aqui El MAIN ----------------------*/

/* codigo de targetas */

.contenedorTargetas{
    display: flex;
    margin: 50px auto;
}
.targeta01, .targeta02, .targeta03 {
    width: 300px;
    margin: 0px auto;
    padding: 10px 10px;
    
    background: rgb(232, 236, 240);
}
.targeta01:hover, .targeta02:hover, .targeta03:hover {
    background: rgb(167, 186, 199);
}

.img1 {
    margin: 0 auto;
}
img {
    width: 250px;
    height: 200px;
    
}
.colorProgramacion {
    font-size: 2em;
    color: rgb(95, 177, 95);
}
.colorHtml {
    color: orangered;
    font-size: 2em;
}
.colorCss {
    color: rgb(47, 129, 223);
    font-size: 2em;
}
.btnContratar2 {
    
    border: none;
    width: 150px;
    height: 50px;
    background: rgb(115, 178, 230);
    /* margin: 50px 0 50px 0; */
}
.btnContratar2 a {
    color: rgb(0, 0, 0);
    text-decoration: none;
}
/* .btnContratar2 a:hover {
    color: rgb(255, 255, 255);
    text-decoration: none;
} */
/* .btnContratar2:hover a {
    color: white;
    background: blue;
} */
.btnContratar2 a:hover {
    border-radius: 20px;
    background: radial-gradient(rgb(255, 0, 0), rgb(255, 255, 255))
}
.btnContratar2:hover a {
    color: white;
    
}

/* --------------------------------------------------------------------------------------------------------------- */
.aside-2 {
    grid-area: aside-2;
}
footer {
    
    padding: 1em 0 1em 0;
    background: rgb(115, 178, 230);
    grid-area: footer;
}
.enlacesDelFooter {
    display: flex;
    justify-content:space-around;
}
.footerNav {
    width: 250px;
    height: 100px;
    margin-right: 10px;
    /* border: 1px solid red; */
}
.footerNav h2 {
    margin-bottom: 20px;
    text-align: center;
}
/* .mediosdePago {
    margin: auto;
} */
.footerNav .img0 {
    width: 200px;
    height: 100px;
    
}
.footerNav .img1 {
    width: 80px;
    height: 80px;
    border-radius: 50%;
}



/* MEDIAS QUERY */

@media screen and (max-width: 480px){
    .contenedor {
        display: grid;
        grid-template-columns: 1fr 10fr 1fr;
        grid-template-rows: 1fr 5fr 1fr;
        grid-template-areas:'header'
                            'main'
                            'footer';
    }
    .contenedorTargetas{
        /*adaptar para  viStA MOBIL  */

        display: flex;
        margin: 50px auto;
    }
    
}