/* Helpers */

// aplicando un mixin
@mixin dimenciones($width: 0, $height: 0, $background: black, $font-size: 1em, $color: black) {
    width: $width;
    height: $height;
    background: $background;
    font-size: $font-size;
    color: $color;
}